@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colors */
:root {
--lennihk-color-darkblue: #00013e;
--lennihk-color-blue: #2400f5;
--lennihk-color-grey: #d9d7e6;
}

body {
    background: var(--lennihk-color-darkblue);
    font-family: montserrat;
    font-size: 16px;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

nav {
    width: 100vw;
    height: 85px;
    background-color: none;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn {
    width: 40px;
    height: 40px;
    background-color: var(--lennihk-color-grey);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-house {
    color: var(--lennihk-color-blue);
}

.home-btn:hover {
    background-color: var(--lennihk-color-darkblue);
    border: 1px solid var(--lennihk-color-grey);
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.home-btn:hover .fa-house {
    color: var(--lennihk-color-grey)
}

.nav-selector { 
    width: 160px;
    height: 40px;
    background-color: var(--lennihk-color-grey);
    margin-left: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-caret-down {
    color: var(--lennihk-color-blue);
    margin-left: 10px;
}

.site-name {
    color: var(--lennihk-color-blue);
    font-size: 15px;
    font-weight: 600;
}

h1 {
    color: var(--lennihk-color-grey);
    text-align: center;
    font-size: 50px;
}

h2 {
    color: var(--lennihk-color-grey);
}

h3 {
    color: var(--lennihk-color-grey);
}

h4 {
    color: var(--lennihk-color-grey);
    font-size: 12px;
    font-weight: 500;
}

.fav-book-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* aligns container to site*/
    max-width: 80vw;
    left: 10vw;
    /* above aligns container to site*/
    flex-wrap: wrap;
    z-index: 1;
    margin: 0;
}

.fav-book-container .fav-book {
    position: relative;
    width: 30vw;
    min-width: 225px;
    height: 400px;
    margin: 0.5vw;
    border-radius: 20px;
    background-color: rgb(255,255,255,0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
}

/* @media  {
    media query to resize fav-book-container on larger screens
} */

.fav-book-container .fav-book .content {
    padding: 30px;
    transition: 0.5s;
}

.fav-book-container .fav-book .content .fav-book-cover {
    position: absolute;
    top: -50px;
    font-size: 65px;
    opacity: 0.2;
}

.fav-book-container .fav-book .content .book-title {
    z-index: 1;
    margin-top: 90px;
} 

.background-box {
    position: absolute;
}

#backbox1 {
    background: var(--lennihk-color-blue);
    width: 200px;
    height: 120px;
    top: 30%;
    left: 25%;
    border-radius: 15px;
    transform: rotate(-15deg);
    box-shadow: 30px 40px 50px var(--lennihk-color-darkblue) inset;
}

#backbox2 {
    background: var(--lennihk-color-blue);
    width: 100px;
    height: 60px;
    top: 65%;
    left: 65%;
    border-radius: 15px;
    transform: rotate(-150deg);
    box-shadow: 15px 25px 50px var(--lennihk-color-darkblue) inset;
}

#backbox3 {
    background: var(--lennihk-color-blue);
    width: 150px;
    height: 100px;
    top: 28%;
    left: 65%;
    border-radius: 15px;
    transform: rotate(210deg);
    box-shadow: 15px 25px 50px var(--lennihk-color-darkblue) inset;
}

#backbox4 {
    background: var(--lennihk-color-blue);
    width: 200px;
    height: 150px;
    top: 50%;
    left: 40%;
    border-radius: 45px;
    transform: rotate(140deg);
    box-shadow: 15px 25px 50px var(--lennihk-color-darkblue) inset;
    opacity: 0.3;
}

#backbox5 {
    background: var(--lennihk-color-blue);
    width: 60px;
    height: 35px;
    top: 65%;
    left: 25%;
    border-radius: 10px;
    transform: rotate(30deg);
    box-shadow: 10px 10px 35px var(--lennihk-color-darkblue) inset;
}